* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef4ed;
    flex-direction: column;
    gap: 50px;
}

.grid-cell {
    border: 1px solid black;
    height: 6.25%;
    width: 6.25%;
}

#container {
    height: 800px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    flex-shrink: 0;
    background-color: white;
}

button {
    padding: 10px 20px;
    background-color: lightgreen;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
}

button:hover {
    cursor: pointer;
    background-color: #38b000;
    color: white;
}
